table td, table thead th {
  text-align: center;
  vertical-align: middle;
}

table, th, td {
  border: 1px solid black;
}

thead {
  background-color: #95999c;
}

.sortable-header th, .nav-link {
  cursor: pointer;
}


.spinner {
  position: absolute;
  top: 3px;
  right: 0;
  margin-right: 15px;
}

#map-container {
  height: calc(100vh - 42px);
}
