table.petrol-station-list td, table.petrol-station-list thead th {
  text-align: center;
  vertical-align: middle;
}

table.petrol-station-list, th, td {
  border: 1px solid black;
}

thead {
  background-color: #95999c;
}

.sortable-header th {
  cursor: pointer;
}
